.container {
    width: min(1200px, 100%);
    margin: auto;
    padding: 50px 5%;
}

.container .row {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.container .row img {
    width: min(400px, 100%);
    min-height: 300px;
    object-position: top;
    object-fit: contain;
}

.container .row .right {
    flex: 1;
}

.container .row .right strong {
    color: #333;
    display: block;
    margin-bottom: 16px;
}
.container .row .right p {
    font-size: 0.9rem;
    margin-bottom: 20px;
    line-height: 22px;
    text-align: justify;
}
.container .row .right a {
    display: inline-block;
    background-color: #104072;
    border: 1px solid #104072;
    color: #fff;
    outline: 1px solid #104072;
    padding: 15px 40px;
    border-radius: 8px;
    margin-top: 15px;
}
.container .row .right a:hover {
    opacity: 0.8;
}

@media (max-width: 900px) {
    .container img {
        display: none;
    }
}
@media (max-width: 600px) {
    .container h1 {
        font-size: 1.5rem;
    }
}
@media (max-width: 500px) {
    .container h1 svg {
        display: none;
    }

    .container .row .left strong {
        margin-top: 26px;
    }
}
